{% extends 'base_nav.html' %}

{% block page_name %}Пользователи | {% endblock %}

{% block container %}

    <h1 class="display-4">МОИ ДРУЗЬЯ</h1>

    <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Фамилия</th>
                    <tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}