{% extends 'base_nav.html' %}

{% block page_name %}Главная | {% endblock %}

{% block container %}
<div class="row">
  <div class="col-8 col-lg-4 offset-2 offset-lg-4">
      <div class="text-center mt-3">
        <h1 class="h3 mb-3 font-weight-normal">Soc app <i class="fa fa-link" aria-hidden="true"></i></h1>
        <br>

        <p class="bottom">
          Привет {{ current_user.username }}! Добро пожаловать в Soc app!</br>
        </p>

        <p class="bottom">
          Что у тебя нового?
        </p>

        </br>

      </div>
  </div>
</div>
{% endblock %}
