{% extends 'base.html' %}

{% block page_name %}Авторизация | {% endblock %}

{% block container %}
<main class="container">
  <div class="row">
    <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form action="{{ url_for('login') }}" method="post">
            {{ form.csrf_token }}

            <div class="text-center mt-5">
                <h1 class="h3 mb-3 font-weight-normal">Soc app <i class="fa fa-link" aria-hidden="true"></i></h1>
            </div>

            <div class="text-center mt-5">
                <p class="h5 font-weight-light">Авторизация</p>
            </div>

            <div class="mt-4 form-label-group mb-4">
                <p class="text-muted"> Логин</p>
                {{ form.username(type='text', class='form-control', autofocus="") }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-label-group mb-3">
                <p class="text-muted"> Пароль</p>
                {{ form.password(type='password', class='form-control') }}
            </div>

            <br/>

            <div class="checkbox mb-3">
                {{ form.submit(value='Войти', class='btn btn-lg btn-danger btn-block') }}
            </div>
        </form>
        <p class="bottom">Нет аккаунт?<a class="bottom" href="{{url_for('register')}}"> Зарегистрируйтесь</a></p>
    </div>
  </div>
    {% include 'alert.html' %}
</main>
{% endblock %}