{% extends 'base_nav.html' %}

{% block page_name %}Публикации | {% endblock %}

{% block container %}

<p>
  {% include 'alert.html' %}
</p>

<div class="row mb-5">
  <div class="col-md-6 offset-2">
    <form action="{{ url_for('new_post') }}" method="post" class="sm-form mr-auto mt-3 mb-4" >
      {{ form.csrf_token }}

      <div class="form-group">
        {{ form.title(type='text', class='form-control', placeholder="Заголовок") }}
      </div>

      <div class="form-group">
        {{ form.body(type='text', class='form-control', placeholder="Что у Вас нового?", rows="3") }}
      </div>

      {{ form.submit(value='Добавить пост', class='btn btn-info') }}
    </form>
  </div>
</div>

<h4 class="mt-5 offset-2" >Последние посты:</h4>

<div class="row mt-5">
   {% for post in posts %}
     <div class="col-md-6 offset-2">
        <div class="card flex-md-row mb-4 box-shadow ">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{ post.name }} {{ post.lastname }}</strong>
            <h4 class="mb-1">
              <a class="text-dark" href="#">{{ post.title }}</a>
            </h4>
            <div class="mb-1 text-muted">{{ post.created_at.strftime("%d %b в %H:%M") }}</div>
            <p class="card-text mb-auto">{{ post.body }}</p>

              <div class="mt-3">
                <i class="fa fa-thumbs-up pointer" id="like-elem" title="like!"
                   onclick="sendFollower({{ post.account_id_fk}}, {{ post.id }}, '0')">
                   <small>{{ post.likes }} &nbsp;</small>
                </i>

                <i class="fa fa-thumbs-down pointer" id="unlike-elem" title="dislike"
                   onclick="sendFollower({{ post.account_id_fk }}, {{ post.id }}, '1')">
                   <small>{{ post.dislikes }} &nbsp;</small>
                </i>

                <i class="fa fa-eye pointer" id="follow-elem" title="follow"
                   onclick="sendFollower({{ post.account_id_fk }}, {{ post.id }}, '2')">
                   <small>{{ post.followers_count }} &nbsp;</small>
                </i>
              </div>
          </div>
      </div>
     </div>
     {% endfor %}
</div>
{% endblock %}