{% extends 'base_nav.html' %}

{% block page_name %}Профиль | {% endblock %}

{% block container %}
<main class="container">
    <p>
        {% include 'alert.html' %}
    </p>

    <div class="row">
    <div class="col-8 col-lg-4 offset-2 offset-lg-4">
      <form class="form-signin mt-0" action="{{ url_for('post_profile') }}" method="post">
          {{ form.csrf_token }}

          <div class="text-center mt-5">
            <h1 class="h3 mb-3 font-weight-normal">Soc app <i class="fa fa-link" aria-hidden="true"></i></h1>
          </div>

          <div class="text-center mt-5">
            <p class="h5 font-weight-light">Профиль</p>
          </div>

          <div class="mt-5 form-label-group">
            <p class="text-muted"> Логин</p>
            <input type="text" readonly value="{{ current_user.username }}">
          </div>

          <div class="mt-5 form-label-group">
            <p class="text-muted"> Имя</p>
            {{ form.name(type='text', class='form-control') }}
          </div>

          <div class="mt-5 form-label-group">
            <p class="text-muted"> Фамилия</p>
            {{ form.lastname(type='text', class='form-control') }}
          </div>

          <div class="mt-5 form-label-group">
            <p class="text-muted"> Дата рождения</p>
            {{ form.birth_date(type='date', class='form-control', placeholder='') }}
          </div>

          <div class="mt-5 form-label-group">
            <p class="text-muted"> Пол</p>
            {{ form.gender(class='form-control') }}
          </div>

          <div class="mt-5 form-label-group">
            <p class="text-muted"> Город</p>
            {{ form.city(type='text', class='form-control') }}
          </div>

          <div class="mt-5 form-label-group">
            <p class="text-muted"> Email</p>
            {{ form.email(type='email', class='form-control', autofocus="") }}
            {% for error in form.email.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="mt-4 form-label-group">
            <p class="text-muted"> Текущий пароль</p>
            {{ form.password(type='password', class='form-control') }}
          </div>

          <div class="mt-5 checkbox">
             {{ form.submit(value='Обновить', class='btn btn-lg btn-danger btn-block') }}
          </div>
          <br/><br/>
      </form>
    </div>
  </div>
</main>
{% endblock %}
