{% extends 'base.html' %}

{% block page_name %}Регистрация | {% endblock %}

{% block container %}
    <div align="center">
      <div align="center" class="border">
         <div class="header">
            <h1 class="word">Register</h1>
         </div>
        <h2 class="word">
            <form action="{{ url_for('register') }}" method="post">
              <div class="msg">{{ msg }}</div>
                <div class="mt-5 form-label-group mb-4">
                    <p class="text-muted"> Username</p>
                    <input id="username" name="username" type="text" class="textbox"/>
                </div>
                <div class="mt-5 form-label-group mb-4">
                    <p class="text-muted"> Password</p>
                    <input id="password" name="password" type="password" class="textbox"/>
                </div>
                <div class="mt-5 form-label-group mb-4">
                    <p class="text-muted"> Email</p>
                    <input id="email" name="email" type="text" class="textbox"/>
                </div>
                <div class="mt-5 form-label-group mb-4">
                    <p class="text-muted"> Имя</p>
                    <input id="name" name="name" type="text" class="textbox"/>
                </div>
                <div class="mt-5 form-label-group mb-4">
                    <p class="text-muted"> Фамилия</p>
                    <input id="lastname" name="lastname" type="text" class="textbox"/>
                </div>
                <div class="checkbox mb-3">
                    <input type="submit" class="btn btn-info" value="Sign Up">
                </div>
            </form>
        </h2>
        <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
      </div>
    </div>
{% endblock %}
