{% extends 'base_nav.html' %}

{% block page_name %} {{title}} | {% endblock %}

{% block container %}
        <div class="row">
          <div class="col-8 col-lg-4 offset-2 offset-lg-4">
            <div class="text-center mt-3 w-auto">
              <h1 class="h3 mb-3 font-weight-normal">Поиск пользователей</h1>
                </br>
                <form class="form-inline sm-form mr-auto mb-4" action="/results" method="post">
                        <input class="form-control mr-sm-2" type="text" name="name"
                               placeholder="Имя" value="{{ query }}" aria-label="Search">
                        <input class="form-control mr-sm-2" type="text" name="lastname"
                               placeholder="Фамилия" value="{{ query }}" aria-label="Search">
                        <button class="btn btn-primary mt-4 my-0" type="submit">Найти</button>
                </form>
            </div>
          </div>
        </div>
{% endblock %}