{% extends 'base_nav.html' %}

{% block page_name %}Пользователи | {% endblock %}

{% block container %}
<div class="row">
  <div class="col-8 offset-2 offset-lg-4">
    <div class="text-center mt-3">
      <h1 class="h3 mb-4 w-100 font-weight-normal">Пользователи</h1>

      <div class="table-responsive">
        <table class="table w-300 d-block d-md-table">
          <thead>
            <tr>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Город</th>
            <tr>
          </thead>
            <tbody>
              {% for user in users %}
                <tr>
                  <td>{{ user.name }}</td>
                  <td>{{ user.lastname }}</td>
                  <td>{{ user.city }}</td>
                  <td>
                    <form action="{{ url_for('add_friend_request') }}" method="post">
                      <input id="userId" name="userId" type="hidden" value="{{ user.id }}">
                      <input class="btn btn-secondary btn-sm" type="submit" value="добавить" />
                    </form>
                </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}